body {
  font-family: $font;
  font-size: $fontsize-base;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4 {
  @include title-text-styling;
  margin: 0.3em 0;
}

h1 {
  font-size: $fontsize-normal * 3;
}

h2 {
  font-size: $fontsize-normal * 2;
}

h3 {
  font-size: $fontsize-normal * 1.6;
}

h4 {
  font-size: $fontsize-normal * 1.3;
}

h5 {
  font-size: $fontsize-normal * 1.1;
}

h6 {
  font-size: $fontsize-normal * 0.9;
}

p {
  font-size: $fontsize-normal;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  max-width: 100%;
  border: 0.5px solid $text-color;
}
