a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: $accent-color;
}
/* visited link */
a:visited {
  color: $accent-color;
}
/* mouse over link */
a:hover {
  color: #000;
}
/* selected link */
a:active {
  color: $accent-color;
}

a.selected {
  // font-weight: 900;
  background: $accent-color;
  color: white;
  padding: 0 5px;
}
