

/* width */
::-webkit-scrollbar {
  width: $scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-handle-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-handle-hover-color;
}
