$fontsize-base: 14px;
$fontsize-normal: 1em;
$fontsize-small: 0.8em;
$global-color: #2403fc;
$font:  Arial, sans-serif;


$scrollbar-width: 6px;
$scrollbar-background-color: none;
$scrollbar-handle-color: rgb(240,240,240);
$scrollbar-handle-hover-color: #000;
