<!-- 2ND COLUMN! -->
<div id="nav2" class="home-col {{ page.category }}" >

  <ul>
    {% for post in site.posts %}
    {% if post.categories contains page.category %}

    <li>
      <a href="{{ post.url }}" link-cat="{{ post.title }}">
        <span class="title">{{ post.title }}</span>
        <span class="date">{{ post.date | date: "%Y-%m"}}</span>
        <p class="tags">{% for tag in post.tags %}{{ tag }} / {% endfor %}</p>
        <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      </a>
    </li>

    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="home-col arrow">
  <div>&rarr;</div>
</div>
