---
---

@import "variables";
@import "scrollbar";
@import "links";
@import "bases";
@import "sass-code-highlight/colorful"; // 'monokai' as example

#container {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: flex-start;
}

.home-col {
  overflow-y: scroll;
  height    : 100%;
  padding   : 0 20px;
}

.home-col.arrow {
  padding   : 0;
  overflow-y: auto;

  &>div {
    padding-top: 50px;
  }
}

.sm-img img {
  max-width: 400px;
}

.tags {
  color: $accent-accent-color;
}

#nav1 {
  max-width: 200px;
  min-width: 80px;

  .intro {
    color: $accent-accent-color;
  }
}

#nav2 {
  width    : 20vw;
  min-width: 130px;

  a {
    background: none;
    color     : black;
  }

  .title {
    background: black;
    color     : white;
  }

  img {
    width    : 100%;
    max-width: 160px;
  }

  .date {
    opacity: 0.2;
  }
}

#nav2.studio img {
  width    : 100%;
  max-width: none;
}

#nav1,
#nav2 {
  p {
    margin: 0;
  }

  li {
    margin-bottom: 0.8rem;
  }

  ul {
    padding-left: 0;
    list-style  : none;
  }
}

#content {
  flex     : 1;
  min-width: 200px;
  max-width: 600px;

  .meta-title {
    color: $accent-accent-color;
  }

  strong {
    font-weight: normal;
    color      : $accent-accent-color;
  }


}

#contact-form {

  input,
  textarea {
    width           : 100%;
    border          : none;
    background-color: rgb(240, 240, 240);
    margin          : 10px 0;
    font-family     : serif;
    font-size       : 18px;
    // padding      : 10px;
  }

  input:focus,
  textarea:focus {
    outline: none;

  }

  input {
    height: 1em;
  }

  textarea {
    height: 300px;
  }
}


@media screen and (max-width: 1200px) {
  #content-wider {
    flex     : 1;
    min-width: 200px;
    height   : 100vh;

    #content-container {
      display       : flex;
      flex-direction: column;
    }

    .col {
      max-width: none;
      padding  : 0 1em;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .home-col {
    height : auto;
    padding: 0 15px;
  }

  #container {
    width : 100vw;
    height: auto;

    .arrow {
      display: none;
    }
  }

  #nav1,
  #nav2 {
    .date {
      display: none;
    }
  }

  #nav1 {
    width: 30vw;

    .intro {
      display: none;
    }
  }

  #nav2 {
    width: 50vw;

    .excerpt,
    .tags {
      display: none;
    }
  }



}

@media screen and (max-width: 900px) and (orientation: landscape) {
  #container {
    flex-wrap: nowrap;
  }

  .excerpt,
  .tags,
  .intro,
  .arrow {
    display: none;
  }

  #nav1 {
    min-width: 50px;
    // width : 5vw;
  }

  #nav2 {
    width: 20vw;
  }

  #content {

    width: 30vw;
  }

}