---
---
@import 'variables';
@import "scrollbar";
@import "links";
@import "bases";
@import "sass-code-highlight/colorful"; // 'monokai' as example

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.home-col {
    overflow-y: scroll;
    height: 100%;
    padding: 0 20px;
}

.home-col.arrow {
  padding: 0;
  padding: 0px;
  overflow-y: auto;
  & > div{
    padding-top: 50px;
  }

}
.sm-img img {
  max-width: 400px;
}

.tags {
  color: $accent-accent-color;
}

#nav1 {
  max-width: 200px;
  min-width: 100px;
  .intro {
    color: $accent-accent-color;
  }
  li {
    letter-spacing: -0.009em;
    font-weight: 700;
  }
}

#nav2 {
  width: 20vw;
  max-width: 300px;
  min-width: 150px;
  img {
    width: 100%;
    max-width: 160px;
  }
  .date {
    opacity: 0.2;
  }
}
#nav2.studio img{
  width: 100%;
  max-width: none;
}

#nav1, #nav2{
  p {
    margin: 0;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
}


#content {
  flex: 1;
  min-width: 400px;
  max-width: 600px;

  .meta-title {
    color: $accent-accent-color;
  }
}
