<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  <div id="container">

    {% include nav1.html %}


    {% include nav2.html %}



    <!-- CONTENT -->
    <div id="content" class="home-col" post-title="{{ page.title }}" post-category="{{ page.category }}">
      <div id="content-container">
        <p class="meta">

        {% if page.event_datetime %}
          <span class="meta-title">Date&Time</span>:: {{ page.event_datetime }}
        {% endif %}
        {% if page.event_location %}
          <br><span class="meta-title">Location</span>:: {{ page.event_location }}
          <hr>
        {% endif %}

      </p>

        {{ content }}
      </div>
    </div>


  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>


</body>

</html>
